/* Dashboard.css */

/* Primary colours: */
/* Yellow: F2D249 */
/* Orange: E27209 */
/* Red: B42828 */

/* FONTS: */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

.dashboardGroup {
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 50px;
}

.dashItems {
  margin: 0 auto;
}

/* Media queries for different device sizes */
@media (min-width: 1920px) {
  /* desktop */
  .dashboardGroup {
    width: 55%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1919px) and (min-width: 1280px) {
  /* desktop */
  .dashboardGroup {
    width: 55%;
    padding: 30px;
  }
}

@media (max-width: 1919px) and (min-width: 1280px) {
  /* desktop */
  .dashboardGroup {
    width: 70%;
    padding: 30px;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  /* desktop */
  .dashboardGroup {
    width: 70%;
    padding: 30px;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  /* desktop */
  .dashboardGroup {
    width: 90%;
    padding: 30px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  /* tablet */
  .dashboardGroup {
    width: 75%;
    padding: 30px;
  }
}

@media (max-width: 767px) {
  /* mobile */
  .dashboardGroup {
    width: 90%;
    padding: 20px;
  }
}

.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
}

.dashCard {
  height: 300px;
  width: 270px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.dashCardSmall {
  height: 250px;
  width: 270px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
}

.dashCardAPIdesc {
  background-color: #e27209;
  color: #f2d249;
  overflow-y: auto;
  text-decoration: none;
}

/* Saved recipes container */

.dashboardSavedRecipes {
  padding: 15px;
  -webkit-box-shadow: inset 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
}

.dashboardSavedRecipeItemContainer {
  width: 100%;
  height: 240px;
  overflow-y: auto;
  border-radius: 10px;
}

.dashboardSavedRecipeItem {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.dashboardSavedRecipeItemText {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 15px;
}

/* SavedRecipeItem */

.dashboardSavedRecipeItem {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.dashboardSavedRecipeItemText {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.dashboardSavedRecipeItemPhoto {
  width: 100px;
  height: 125px;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
}

.dashboardSavedRecipeItemPhotoOverlay {
  width: 100px;
  height: 125px;
  border-radius: 0px 10px 10px 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 10%,
    rgba(242, 210, 73, 0) 100%
  );
}
