/* Primary colours: */
/* Yellow: F2D249 */
/* Orange: E27209 */
/* Red: B42828 */

/* FONTS: */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

.navbar {
  margin-top: 5px;
  margin-bottom: 25px;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navLeft {
  width: auto;
  height: 40px;
  background-color: rgba(242, 210, 73, 0.8);
  margin-left: 20px;
  padding-top: 3px;
  padding-left: 18px;
  padding-right: 10px;
  border-radius: 15px;
  float: left;
  display: flex;
  align-items: center;

  /* Inner and outer shadows */
  box-shadow: 1px 4px 15px -1px rgba(255, 255, 255, 0.58) inset,
    1px 3px 23px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 4px 15px -1px rgba(255, 255, 255, 0.58) inset,
    1px 3px 23px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 4px 15px -1px rgba(255, 255, 255, 0.58) inset,
    1px 3px 23px -1px rgba(0, 0, 0, 0.41);
}

.navLeft .navbar-brand {
  margin-right: 15px;
  float: left;
}

.navDot {
  width: 5px;
  height: 5px;
  background-color: #b42828;
  float: left;
  margin-right: 15px;
  border-radius: 3px;
}

.navbar-nav {
  display: flex;
  list-style: none; /* Remove default list styles */
}

.nav-link {
  color: #b42828;
  margin-left: -4px;
}

.nav-link:hover {
  color: #e27209 !important;
  font-weight: bold;
}

.active {
  font-weight: bold;
}
